.contenido{
    
    
    background: linear-gradient(to bottom, rgb(11, 24, 209), rgb(0, 0, 0));
    height: 400px;
    width: 450px;
    
    border: 2px solid black;
}

body{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(133, 127, 127),rgb(235,225,255));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: mediumturquoise;
    height: 100vh;
}

input{
    display: flex;
    flex-direction: column;
    margin:20px 130px;
    width : 10vw;
}

p  {
    margin: 20px 100px;
    color: rgb(255, 255, 255);
}

h1{
    margin: 0px 97px;
    color: rgb(255, 255, 255);
}

.boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -90px 10px;
    
    
}

.bienvenido h1{
    color: black;
    display: flex;
    flex-direction: column;
   
}

.type{
    margin: 90px 10px;
}

.boton1{
    
}

input{
    
    
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;


}

input:hover{
    width: 200px;
    border: 2px solido #2ecc71;

}

input{
    width: 280px;
    border-color: #2ecc71;

}

.boton { 
    
    background: none;
    display: block;
    margin: -100px auto;
    text-align: center;
    
    padding: 14px 10px;
    
    outline: none;
    color: white;
    border-radius: 24px;
   
    cursor: pointer;

}

